html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    background-color: #F7FAFB;
}

.portfolio {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.project {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 400px;
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 40px;
}

.card:before,
.calendar:before,
.yandexMap:before,
.barleyBreak:before {
    position: absolute;
    display: block;
    content: " ";
    width: 100%;
    height: 100%;
    background-color: #fefffe99;
    border-radius: 20px;
}

.card {
    background: url(img/card.png);
    background-size: 111%;
    background-position-x: 29%;
}

.card:before {
    background-color: #fefffec9;
}

.calendar {
    background: url(img/calendar.jpg);
    background-repeat: no-repeat;
    background-size: 97%;
    background-position: 50% 27%;
}

.barleyBreak {
    background: url(img/barleyBreak.jpg);
    background-repeat: no-repeat;
    background-size: 44%;
    background-position: 50% 27%;
}

.yandexMap {
    background: url(img/yandexMap.jpg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 50% 27%;
}

.links {
    position: absolute;
    display: block;
    content: " ";
    bottom: 20px;
    width: 30px;
    height: 30px;
}

.web {
    left: 35%;
    background: url(img/web.png);
    background-size: 100%;
}

.git {
    right: 35%;
    background: url(img/Github_icon.png);
    background-size: 148%;
    background-position: -7px -7px;
}
