body{
    margin: 0;
    width: 100%;
}

nav {
    position: absolute;
    text-align: center;
}

ul#navigation {
    margin: 10px;
}

nav > .navig > li  {
    position: relative;
    margin: 0.2rem 0.7143rem;
    display: inline-block;
    padding: 0.45rem;
}

nav > .navig > li:after {
    display: block;
    position: absolute;
    content: "";
    top: 38%;
    right: -0.9286rem;
    width: 0.07143rem;
    height: 1rem;
    background-color: #185dcc;
}

nav > .navig > li:last-child:after {
    display: none;
}

nav > .navig > li > a {
    position: relative;
    text-decoration: underline;
    display: inline-block;
    text-align: center;
    color: #185dcc;
    padding: 0.714rem;
    top: 50%;
    font-size: 1rem;
    cursor: pointer;
}

nav > .navig > li > a:hover {
    text-decoration: none;
}

canvas {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0
}

#paybackGame{
    z-index: -999;
}